
.bigscreen {
  position: absolute;
  display: flex;
  top:0 ;
  left: 0;
  right: 0;
  bottom: 0;

  .video-box {
    width: 100%;
  }
 .streams-box{
    width: 150px;
    top: 0;
   right: 0;
   bottom: 0;
    height: 100vw;
    border: 1px solid red;
    z-index: 10;
   position: absolute;
  }
}

.small-screen {
  &__video {
    width: 150px;
    height: 100px;
    margin: 5px 0
  }
}